<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="customerApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Customer App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/customer.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="CustomerListCtrl">
<div class="whole_container">

  <div class="Top_bar">
    <button class="add_customer" id="addCustomer" ng-click="showForm(false)">+</button>
    <input class="search_input" placeholder="Search Customer"></input>
  </div>

  <div class="left_container">
    <div class="left_bar">
      <div class="navigation_letter">A</div>
      <div class="navigation_letter">B</div>
      <div class="navigation_letter">C</div>
      <div class="navigation_letter">D</div>
      <div class="navigation_letter">E</div>
      <div class="navigation_letter">F</div>
      <div class="navigation_letter">G</div>
      <div class="navigation_letter">H</div>
      <div class="navigation_letter">I</div>
      <div class="navigation_letter">G</div>
      <div class="navigation_letter">K</div>
      <div class="navigation_letter">L</div>
      <div class="navigation_letter">M</div>
      <div class="navigation_letter">N</div>
      <div class="navigation_letter">O</div>
      <div class="navigation_letter">P</div>
      <div class="navigation_letter">Q</div>
      <div class="navigation_letter">R</div>
      <div class="navigation_letter">S</div>
      <div class="navigation_letter">T</div>
      <div class="navigation_letter">U</div>
      <div class="navigation_letter">V</div>
      <div class="navigation_letter">W</div>
      <div class="navigation_letter">X</div>
      <div class="navigation_letter">Y</div>
      <div class="navigation_letter">Z</div>
    </div>
  </div>

  <div class="list_container">
    <div ng-repeat="customer in customers | filter:query | orderBy:orderProp">
      <div class="list_customers" ng-click="showInfo(customer, $index)" ng-class="{list_selected: $index == selected}">
        <div class="list_customers_name">{{customer.first}} {{customer.last}}</div>
        <div class="list_customers_company">{{customer.company_name + '    ' + customer.department_name}}</div>
      </div>
    </div>
  </div>

  <div class="detail_container" hidden id="customerInformation">
    <div class="detail_name">
      {{selectedCustomer.first + " " + selectedCustomer.last}}
    </div>
    <div class="detail_company_name">
      {{selectedCustomer.company_name + " " + selectedCustomer.department_name}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Email: </span>
      {{selectedCustomer.email}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Tel: </span>
      {{selectedCustomer.work_phone}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Mobile: </span>
      {{selectedCustomer.mobile_phone}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Shipment Address: <br/></span>
      {{
      selectedCustomer.shipment_address + ", " +
      selectedCustomer.shipment_city + ", " +
      selectedCustomer.shipment_state + ", " +
      selectedCustomer.shipment_zip + ", " +
      selectedCustomer.shipment_country
      }}
    </div>
    <div class="details">
      <span style="color: rgb(150,150,150);">Mail Address: <br/></span>
      {{
      selectedCustomer.mail_address + ", " +
      selectedCustomer.mail_city + ", " +
      selectedCustomer.mail_state + ", " +
      selectedCustomer.mail_zip + ", " +
      selectedCustomer.mail_country
      }}
    </div>
    <div type="button" ng-click="deleteCustomer($index)">Delete this customer</div>

    <div class="edit_customer" ng-click="showForm(true)">Edit this customer</div>
  </div>


  <div class="detail_container_2" hidden id="editForm">
    <div class="detail_page_title">Edit Customer Info</div>
    <form class="infoForm">
      <div class="item_name_container">
        <div>First</div>
        <div>Last</div>
        <div>Company</div>
        <div>Department</div>
        <div>Email</div>
        <div>Tel</div>
        <div>Mobile</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_shipment_addr" ng-click="expand_shipment_addr=!expand_shipment_addr">
          {{expand_shipment_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Street</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">City</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">State</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">country</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Zip</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_mail_addr" ng-click="expand_mail_addr=!expand_mail_addr">
          {{expand_mail_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_mail_addr">Street</div>
        <div class="item_name_container" ng-show="expand_mail_addr">City</div>
        <div class="item_name_container" ng-show="expand_mail_addr">State</div>
        <div class="item_name_container" ng-show="expand_mail_addr">country</div>
        <div class="item_name_container" ng-show="expand_mail_addr">Zip</div>
      </div>
      <div class="item_input_container">
        <input class="item_input" type="text" ng-model="user.first" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.last" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.company_name" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.department_name" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.email" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.work_phone" ng-initial></input>
        <input class="item_input" type="text" ng-model="user.mobile_phone" ng-initial></input>
        <div class="item_collapsible_name">Shipment Address</div>
        <input class="item_input" type="text" ng-model="user.shipment_address" ng-initial
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" ng-model="user.shipment_city" ng-initial
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" ng-model="user.shipment_state" ng-initial
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" ng-model="user.shipment_country" ng-initial
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" ng-model="user.shipment_zip" ng-initial
          ng-show="expand_shipment_addr"></input>
        <div class="item_collapsible_name">Mail Address</div>
        <input class="item_input" type="text" ng-model="user.mail_address" ng-initial
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" ng-model="user.mail_city" ng-initial
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" ng-model="user.mail_state" ng-initial
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" ng-model="user.mail_country" ng-initial
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" ng-model="user.mail_zip" ng-initial
          ng-show="expand_mail_addr"></input>
        <div class="item_save" ng-click="update(user)" type="button">Save</div>
        <div type="button" ng-click="cancelForm()">Cancel</div>
      </div>
    </form>
  </div>

  <div class="hyperlink_container">
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image"></div>
      <div class="APP_hyperlink_app_name">Quotes</div>
    </div>
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image"></div>
      <div class="APP_hyperlink_app_name">Sales</div>
    </div>
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image">+</div>
      <div class="APP_hyperlink_app_name">New Link</div>
    </div>
    <div class="APP_hyperlink">Direct Link</div>
  </div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="jquery-1.11.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/customer.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</div>
</body>
</html>
